<style>
#woody_sections_classes_widget h3 {
    color:#0073aa;
    font-weight:bold;
    margin-bottom:0;
}
#woody_sections_classes_widget h3:nth-child(n+2) {
    margin-top: 15px;
}
#woody_sections_classes_widget ul p {
    margin-top: 0;
    font-size: 11px;
}

</style>

<div id="woody_sections_classes_widget">
    <p>{{ description }}</p>
    <ul>
    {% for class in classes %}
        <li>
            <h3>{{ class.title }}</h3>
            <p>
                {% set i = 0 %}
                {% for tag in class.class_tags %}
                    {% if i == 0 %}
                        <strong> {{ tag }} </strong>
                    {% else %}
                        OU <strong> {{ tag }} </strong>
                    {% endif %}
                    {% set i = i + 1 %}
                {% else %}
                    <strong> {{ class.class_tags }} </strong>
                {% endfor %}

                : {{class.legend}}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>
